* {
	box-sizing: content-box;
}

body{

	background:white;
}
#circle {
	width: 100px;
	height: 100px;
	background: ;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}

#circle {
	width: 100px;
	height: 100px;
	background: pink;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	
}

